
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes slider {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
    //transform: scale(1);
  }
  45% {
    margin-left: -100%;
    //transform: scaleX(1.05);
  }
  50% {
    margin-left: -200%;
   // transform: scale(1);
  }
  70% {
    margin-left: -200%;
   // transform: scaleX(1.05);
  }
  75% {
    margin-left: -300%;
    //transform: scale(1);
  }
  95% {
    margin-left: -300%;
    //transform: scaleX(1.05);
  }
  100% {
    margin-left: 0;
   // transform: scale(1);
  }
}
@keyframes scale-img {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}