*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* now box-sizing will be an inherited property */
}
body {
  color: $color-black;
  box-sizing: border-box;
  line-height: 1.7;
  h1 {
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $color-white;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.p {
  position: relative;
  text-align: center;
}
