body {
  font-family: 'Space Grotesk', sans-serif;
}
.heading-primary {
  color: $color-black;
  font-family: 'Tilt Prism', cursive;
  font-size: 3.6rem;
  transition: all 0.2s;
  &:hover {
    transform: skewY(0.5deg);
  }
}
.heading-secondary {
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  background-color: rgba($color-straw, 0.7);
  font-family: 'Tilt Prism', cursive;
  color: transparent;
  transition: all 0.2s;
  &:hover {
    transform: skewY(-0.5deg);
  }
}
@media only screen and (max-width: $small-scr) {
  .heading-primary {
    font-size: 2.5rem;
  }
}