@mixin background-image-side($url) {
  border-radius: 15px;
  width: 35vw;
  height: 35vh;
  background-image: url($url);
  background-size: cover;
  background-position: center;
  opacity: .7;
}
@mixin bg-color-opacity($col, $op) {
  background-color: rgba($col, $op);
}
@mixin scale-bg() {
  cursor: pointer;
  animation: scale-bg 0.5s ease-out forwards
}