$color-black: #000;
$color-white: #fff;
$color-sage: #b1d7b4;

$color-grey-dark: #777;
$color-grey-light: #a1a1a1;
$color-rose: #EDC6B1;
$color-dark-rose: #b74f6f; 
$color-brick: #AA5656;
$color-straw: #E4D96F;
$small-scr: 1000px;
$medium-scr: 1400px;
$scr-1500: 1500px;