.features {
  margin: 100px 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-sage, 0.8),
    rgba(#edc6b1, 0.8)
  );
  height: max-content;
  padding: 40px 40px 40px;
  &__box {
    display: grid;
    justify-content: center;
    padding: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    &--item {
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
    &--description {
      text-align: center;
    }
    &--heading {
      font-size: 20px;
    }
  }
  &--heading {
    padding: 15px;
    font-weight: 500;
  }
}
