.features {
  background-image: linear-gradient(
    to top,
    rgba($color-brick, 0.1),
    rgba($color-straw, 0.5)
  );
  height: max-content;
  padding: 40px 40px 40px;
  @media only screen and (max-width: $medium-scr) {
    padding: 0;
  }
  &__box { 
    display: grid;
    justify-content: center;
    padding: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    @media only screen and (max-width: $medium-scr) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0;
      padding: 0;
    } 
    &--item {
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
    &--description {
      text-align: center;
    }
    &--heading {
      font-size: 20px;
      font-weight: 900;
    }
  }
}
