header {
  background-color: $color-brick;
  margin: 1.5rem 0 3.5rem;
  padding: 2rem 0;
  .header {
    @media only screen and (max-width: $small-scr) {
      flex-direction: column;
    }
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    &__slider {
      margin: 1rem;
      animation: moveInLeft 1s;
    }
    &__card {
      color: $color-black;
      margin: 1rem;
      align-content: center;
      width: 30%;
      animation: moveInRight 1s;
      img {
        height: 4rem;
      }
      @media only screen and (max-width: $small-scr) {
        width: 70%;
      }
    }
    &__text-box {
      align-items: center;
      padding: 2rem;
      border: 0.12rem solid $color-black;
      p {
        font-size: 1.2rem;
      }
    }
    &__button {
      margin-top: 3rem;
    }
  }
}
