header {
  background-color: #a76d60;
  margin-top: 1.5rem;
  padding: 2rem 0;
  .header {
    margin-bottom: 4rem;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    &__slider {
      margin: 1rem;
      animation: moveInLeft 1s;
    }
    &__add {
      margin: 1rem;
      align-content: center;
      height: 74vh;
      width: 30%;
      animation: moveInRight 1s;
      img {
        height: 4rem;
      }
    }
    &__text-box {
      align-items: center;
      padding: 0 2rem;
      border: 0.12rem solid;
      p {
        font-size: 1.2rem;
      }
    }
    &__button {
      margin-top: 5rem;
    }
  }
}
