.header__nav {
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5rem;
  background-color: #A9907E;
  color: $color-white;
  z-index: 1;
  &--heading {
    font-size: 20px;
  }
}
