.products-heading {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(
    to top,
    rgba($color-straw, 0.5),
    rgba($color-brick, 0.5)
  );
  clip-path: polygon(
    0% 100%,
    6% 1%,
    9% 12%,
    15% 0%,
    18% 14%,
    26% 0%,
    34% 11%,
    36% 0%,
    40% 13%,
    50% 0%,
    53% 12%,
    68% 1%,
    74% 16%,
    81% 0%,
    85% 12%,
    94% 0%,
    100% 100%,
    0% 100%
  );
}
.products-box {
  @include bg-gradient(top);
  &--image {
    border-radius: 15px;
    height: 15rem;
  }
  &--header {
    font-size: 1.3rem;
  }
}
.products-grid {
  padding: 4% 5% 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 0;
  grid-row-gap: 2rem;
  &--button {
    font-size: 3rem;
    background-color: inherit;
    border: none;
  }
  &--cart-button {
    margin: 0 auto;
    @include bg-color-opacity($color-straw, 0.6);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.2s;
    .pi {
      font-size: 1.5rem;
    }
    &:hover {
      @include bg-color-opacity($color-straw, 0.9);
      cursor: pointer;
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    }
  }
  @media only screen and (max-width: $medium-scr) {
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    justify-content: center;
  }
  @media only screen and (max-width: $small-scr) {
    display: flex;
    flex-direction: column;
  }
}
