.products {
  margin: auto;
  padding: 3rem 0 4rem;
  justify-content: center;
  &--box {
    overflow: hidden;
    border-radius: 15px;
  }
  &--text {
    position: absolute;
    bottom: 0;
    color: rgba($color-white, 1);
  }
  &--img {
    width: 25vw;
    height: 35vh;
    border-radius: 15px;
    opacity: 0.6;
    &:hover {
      animation: scale-img 0.5s ease-out forwards;
    }
  }
}

@media only screen and (max-width: $small-scr) {
  .products {
    margin: 3rem auto;
    width: 95vw;
    padding: 0;
    &__box {
      flex-direction: column;
    }
    &__left-side {
      width: 98%;
      height: 22.5vh;
      padding: 0;
    }
    &__right-side {
      justify-content: center;
      margin: 0;
      width: inherit;
      width: 100%;
      height: 47vh;
    }
    &__right-side > div {
      width: 98%;
      margin: 0;
    }
  }
}
